# Development
venv/
sandbox*.py
.env
.mongo

# Project file
.idea/

# Testing
*.http
.pytest_cache/

# Compiled files
__pycache__/

# Data files
*.csv

# Server config
config-override.yaml

# Miscellaneous
.wakatime-project
