# Development
venv/
sandbox*.py
.env

# Project file
.idea/

# Endpoint testing
*.http

# Compiled files
__pycache__/

# Data files
*.csv

# Server config
config-override.yaml

# Miscellaneous
.wakatime-project
