# Data API
zmq

# Caching
cachetools

# Data processing
# -- Significant performance issue for `calc_support_resistance_levels()`
pandas==1.4.4
numpy
wheels/TA_Lib-0.4.24-cp310-cp310-win_amd64.whl

# Console output
rich

# Config file
pyyaml
jsonschema
environs

# Server
fastapi[all]
fastapi-socketio
uvicorn[standard]

# Database
# > Do NOT install `bson` here as `pymongo` installs its own `bson`.
pymongo
pydantic

# Security
python-jose[cryptography]
passlib[bcrypt]

# gRPC
grpcio
grpcio-tools
